.footer {
  padding: 8rem 2rem;
  display: flex;
  justify-content: center;
  background-color: $Black;
  color: $White;

  @media (max-width: 650px) {
    padding: 48px 32px;
  }

  &__container {
    @include container;

    display: flex;
    align-items: flex-start;

    @media (max-width: 650px) {
      flex-direction: column;
      gap: 38px;
    }
  }

  &__logo img {
    width: 16rem;
  }

  &__text {
    font-size: 1.8rem;
    line-height: 2.8rem;
    max-width: 43rem;
    margin-left: 14rem;

    @media (max-width: 768px) {
      margin-left: 65px;
      max-width: 281px;
      margin-right: 40px;
    }

    @media (max-width: 650px) {
      font-size: 16px;
      line-height: 26px;
      margin-left: 0;
      max-width: 0;
      margin-right: 0;
      max-width: unset;
    }
  }

  &__social {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: auto;

    @media (max-width: 650px) {
      margin-left: 0;
    }

    a {
      &:link,
      &:visited {
        svg {
          fill: white;
          width: 20px;
          height: 20px;

          transition: all 0.2s ease;
        }
      }
      &:hover {
        svg {
          fill: $Primary;
        }
      }
    }
  }

  &--location {
    background-color: $Primary;
    color: $Black;

    .footer__social {
      a {
        &:link,
        &:visited {
          svg {
            fill: $Black;
          }
        }
        &:hover {
          svg {
            fill: $White;
          }
        }
      }
    }
  }
}
