.header {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(90deg, $Black 50%, $White 50%);
  margin-bottom: 18rem;

  @media (max-width: 768px) {
    margin-bottom: 120px;
    background-image: unset;
  }

  @media (max-width: 650px) {
    flex-direction: column;
    margin-bottom: 120px;
  }

  &__container {
    @include container;

    min-height: 100vh;
    background-image: url(/assets/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 28.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 19rem;
    margin-left: 2rem;
    margin-right: 2rem;

    @media (min-resolution: 2x) {
      background-image: url(/assets/desktop/image-hero@2x.jpg);
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-end;
      background-position: 0 0;
      margin-left: 0;
      margin-right: 40px;
      justify-content: center;
      background-image: url(/assets/tablet/image-hero.jpg);
      min-height: unset;
      height: 700px;

      @media (min-resolution: 2x) {
        background-image: url(/assets/tablet/image-hero@2x.jpg);
      }
    }

    @media (max-width: 650px) {
      background-image: none;
      margin-right: 16px;
      margin-left: 16px;
      align-items: flex-start;
      padding-top: 0;
      height: auto;
      width: auto;
    }
  }

  &__hero-mobile {
    display: none;

    @media (max-width: 650px) {
      display: inline-flex;
    }

    img {
      width: 100%;
    }
  }

  &__heading {
    font-family: $Font-Heading;
    max-width: 51.4rem;
    font-size: 9.6rem;
    line-height: 8.8rem;
    text-transform: uppercase;
    font-weight: $Extra-Bold;
    color: transparent;

    background-image: linear-gradient(90deg, $White 28.5rem, $Black 28.5rem);
    background-clip: text;

    @media (max-width: 768px) {
      background-image: none;
      background-clip: unset;
      color: $Black;
      font-size: 70px;
      margin-bottom: 48px;
      width: 339px;
    }

    @media (max-width: 710px) {
      width: 250px;
    }

    @media (max-width: 650px) {
      width: auto;
      margin: 32px 0;
      font-size: 60px;
      line-height: 55px;
    }
  }

  &__text {
    width: 100%;
    max-width: 35rem;
    margin-bottom: 6.4rem;

    @media (max-width: 768px) {
      font-size: 18px;
      line-height: 28px;
      width: 339px;
      max-width: unset;
    }

    @media (max-width: 710px) {
      width: 250px;
    }

    @media (max-width: 650px) {
      width: auto;
      margin-bottom: 32px;
      font-size: 18px;
      line-height: 28px;
    }
  }
}
