.location {
  background-color: $Black;
  color: $White;
  display: flex;
  justify-content: center;
  padding: 10.4rem 2rem;

  @media (max-width: 768px) {
    padding: 88px 39px 70px 39px;
  }

  @media (max-width: 609px) {
    padding: 48px 16px;
  }

  &__container {
    @include container;

    display: flex;
    align-items: flex-start;
    gap: 22rem;

    @media (max-width: 768px) {
      gap: 68px;
    }

    @media (max-width: 609px) {
      flex-direction: column;
      gap: 48px;
    }
  }

  &__heading {
    font-family: $Font-Heading;
    font-size: 7rem;
    font-weight: $Extra-Bold;
    line-height: 7rem;
    width: 35rem;
    text-transform: uppercase;
    flex-shrink: 0;

    @media (max-width: 609px) {
      width: auto;
      font-size: 50px;
      line-height: 45px;
    }
  }

  &__street {
    display: inline-block;
    font-family: $Font-Heading;
    font-size: 3.6rem;
    line-height: 3.6rem;
    font-weight: $Extra-Bold;
    text-transform: uppercase;
    color: $Primary;
    margin-bottom: 2.4rem;

    @media (max-width: 609px) {
      font-size: 32px;
      line-height: 32px;
    }
  }

  &__text {
    margin-bottom: 3.2rem;

    @media (max-width: 609px) {
      font-size: 18px;
      line-height: 28px;
    }
  }
}
