@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Outfit:wght@100..900&display=swap');

$Font-Body: 'Outfit';
$Font-Heading: 'Big Shoulders Display';

// Font Weight

$Light: 300;

$Extra-Bold: 900;